@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap");

:root {
  --white2: rgb(250, 250, 253);
  /* --greylight: rgb(245, 245, 242); */
  /* --greylight: rgb(246, 248, 253); */
  --greydark: rgb(43, 42, 42);
  --greydark2: rgb(32, 67, 84);
  --greydark3: rgb(47, 97, 143);
  --indigo: rgb(8, 0, 255);
  --indigo2: rgb(84, 78, 255);
  --cyan: rgb(0, 221, 210);
}

body {
  background-color: var(--greylight);
}

body *{
  font-family: 'Montserrat', sans-serif !important;
}

.App {
  text-align: center;
}

/* HEADER */

.app-bar {
  background-color: var(--white2) !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05) !important;
}

.app-logo {
  background: -webkit-linear-gradient(to right, #544eff 0%, #25c9cf 80%);
  background: -moz-linear-gradient(to right, #544eff 0%, #25c9cf 80%);
  background: linear-gradient(to right, #544eff 0%, #25c9cf 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.App-header {
  width:80%;
  background-color: var(--greylight);
  font-family: "Montserrat";
  min-height: 100vh;
  display: flex;
  align-items: left;
}

#modalTitle {
  font-size: 16px;
}

#EditNodeModal{
  width: 600px;
}

.close-reveal-modal {

}
.button {
  font-size: 12px;
}
/* ul {
padding-left:150px;
padding-top: 50px;
  align-items:flex-start
}
li {
  color:rgb(42, 41, 41);
  list-style: none;
  font-size: 12px !important;
 
} */